{% extends "base.html" %}

    {% block content %}
        <h2>{{ page.title }}</h2>
        {% autoescape off %}
            {{ page.content }}
        {% endautoescape %}

        {% load attachments_tags %}

        {% get_attachments_for page as "attachments_list" %}


        {% for attachment in attachments_list %}
            <p>
                <a href="{{ attachment.attachment_file.url }}" alt="{{ attachment.filename }}">
                    {{ attachment.filename }}
                </a>
            </p>
        {% endfor %}

    {% endblock %}

    {% block sidebar %}
        {{sidebar.content}}
    {% endblock %} 

    {% block footer %}
        {% autoescape off %}
            {{ footer.content }}
        {% endautoescape %}
    {% endblock %}