{% extends "base.html" %}

{% block menu %}

    {% load menubuilder %}
    {% menu headernavigation %}
    {% for item in menuitems %}
        <li><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='current'{% endif %}>{{ item.title }}</a></li>
    {% endfor %}
    
{% endblock %}

{% block content %}

    {% load thumbnail %}
    
    {% for person in persons %}
    
        <div class="organisators">
                    
            {% thumbnail person.image "65x86" crop="center" as im %}
                <img alt="" src="{{ im.url }}">
            {% endthumbnail %}
            <h3>{{ person.fio }}</h3>
            <p>{{person.desc}}</p>
            <p>тел.: 8(912)213-19-49, 8(950)198-08-88</p>
        </div>
    {% endfor %}

{% endblock %}