{% extends "base.html" %}

{% block content %}

    <h2>Жюри конкурса</h2>
    {% for item in jury_year_list %}
        
        

        {% load thumbnail %}

        {% if forloop.counter > 1 %}


            {% if item.jury_list and forloop.counter == 2 %}
                <br />
                <h3>Жюри прошлых лет</h3>
            {% endif %}

            <h3 class="button">{{ item.year }}</h3>
            <div class="text-show">
        {% endif %}


            {% for jury in item.jury_list %} 

                <div class="zhuri">
                    <a href="{% url 'jury_detail' pk=jury.id %}">
                        {% thumbnail jury.photo "65x86" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ jury.fio }}">
                        {% endthumbnail %}
                    </a>

                    <h3><a href="{% url 'jury_detail' pk=jury.id %}">{{ jury.fio }}</a></h3>
                    <p>{{ jury.position }}</p>
                </div>

            {% empty %}
                <li>Для этого года жюри не найдено</li>
            {% endfor %}

        {% if forloop.counter > 1 %}
        </div>
        {% endif %}

    {% endfor %}


{% endblock %}