/* Дизайн и верстка: Никита Нятин
   Фотографии: Дмитрий Скутин
   Дата: 26.04.2012 
   Специально для Студии Моды УрАГС */

*{
	margin: 0;
	padding: 0;
}
img{
	border:0;
}
table{
	border-collapse:collapse;
}
table, th, td{
	border: 1px solid black;
}
h1{
	margin: 30px 0 0 18px;
	font-size:200%;
	color: #BD3C3C;
	text-align:left;
}
h2{
	margin: 15px 0 0 18px;
	font-size:150%;
	text-align:left;
}
h4 {
    margin: 10px 0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: url("../images/bg-main.png") repeat;
	color: #FCE0FB;
	background-color: #111;
}
#ad{
	background:url(../images/bg_ad.jpg) no-repeat top;
	width:234px;
	height:159px;
	text-align:center;
	margin:25px auto;
    /*После подачи заявок скрываем этот блок до следующего года*/
    display:none;
}
#ad p{
	padding: 17px 10px 10px 10px;
	font-size:150%;
	color: #FBE3E4;
}
#container{
	border:1px solid #333;
}
#container{
	width: 800px;
	margin: 0 auto;
}
#header{
	height: 220px;
	background:#fff;
}
#content{
    float: left;
    margin-bottom: -32767px;
    padding-bottom: 32767px;
    padding-left: 20px;
    padding-right: 10px;
    width: 470px;
}
#content h2{
	font-size: 150%;
    margin: 15px 0;
    text-align: left;
	color: #BD3C3C;
}	
#content p{
	text-align:left;
	padding: 5px 0;	
}
#content ul{
	margin:7px 20px 0 0;
}
#content li{
	padding: 0 0 2px 10px;
	margin:0 0 0 30px;
	text-align:left;
}
#content a{
	color:#D35454;
	text-align:left !important;
}
#content a:hover{
	color:#fe3C3C !important;
	text-align: left !important;
}
#content a:visited{
	color:#975D5D;
}
#content ol{
	margin:10px 0 20px 0;
	}
#content ol li{
	margin: 4px 10px 0 40px;
}
#footer{
	clear: both;
	width:800px;
	height:32px;
	text-align:center;
	background:url(../images/bg_menu.gif) repeat-x
}
#footer p{
	padding: 7px 0 0 0;
}

#info{
	padding:40px 20px 5px 30px;
	text-align:left;
}
#info p{
	padding: 0 0 10px 0px;
}
#info li{
	padding-top: 3px;
}
#info ul{
	padding-bottom:30px;
	}
#links{
	text-align:left;
	width:200px;
	float:left;
	padding: 20px 0 30px 10px;
	}
#links ul{list-style: none;}
#links li{
	margin:3px 0;
	}
#menu{
	background: url(../images/bg_menu.gif) repeat-x;
	height: 32px;
}
#menu ul a{
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	text-align:center;
}
#menu ul li{
	float:left;
	padding: 7px 21px;
	list-style:none;
}
#menu ul li:hover{
	background: #232323;
}
#sidebar{
	background-color:#10101A !important;
	width:299px;
	padding-bottom: 32767px;
	margin-bottom: -32767px;
	float:right;
	border-left:solid 1px #666;
	background:url(../images/bg_sidebar.jpg) repeat;
}

#wrap{
	overflow: hidden;
	width: 100%;
	background:#111;
	padding-bottom: 20px;
}
	
/* Определим классы */
.afisha{
    float:left; padding:10px 10px 10px 18px;
}
.active{
	background: #232323;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	text-align:center;
}
.anketa{
	font-size:150%;
	font-weight:bold;
	text-decoration:none;
	color: #CD5A5A !important;
	margin:1px 15px;
	display:block;
}
.anketa:hover{
	color:#fe3C3C !important;
}
.button{
	font-size:14px;
	text-align:left;
	color:#BD3C3C;
	padding:10px 0 5px;
	cursor:pointer;
}
.button:hover{color:#fe3C3C !important;}
.clear{
	clear:both;
}
.comment-vid{
	font-size:9px;
	color: #999;
	text-align:left;
}
.doc-list{
	list-style:none;
	margin: 12px 0 0 -13px !important;
}
.doc-list li{
	padding: 0 5px 5px 20px !important;
	background: url(../images/doc-word.gif) no-repeat left 0px;
}
.girls{
	float:left;
	margin: 20px 0 0 30px;
}
.header1{
	font-size:16px;
	color: #CCC;
	font-weight:bold;
	background:#2A1212;
	text-align:center !important;
}
.header2{
	background:#212121;
	text-align:center !important;
}
.iframe{
	font-size:14px;
	font-weight:bold;
	text-align:left !important;
	color:#86B0DF;
}
.images-holder{
	padding:1px 10px 10px 18px;
}
.images-holder img, .text-show img, .text-show2 img, .text-show3 img{
	margin:2px 0 0 1px;
}
.images-set{
    margin:10px;
}
.images-set .pic_wrap{
    float:left;
}
.images-set .pic_wrap img{
    margin-bottom:5px;
}
.images-set .pic_wrap p{
    text-align:center !important;
    margin:5px 0;
}
.images-set img{
    float:left;
    margin:10px 0 0 10px
}
.logo{
	margin: 70px 0 0 80px;
}
.leftline{
	border-left: 1px solid #999;
}
.margin-bottom-30{
	margin-bottom: 30px;
}
.strong{
	font-weight:bold;
	color:#CB6666;
}
.organisators{
	width:90%;
	margin:20px 20px 20px 19px;
	height:86px;
}
.organisators img{
	width:65px;
	height:86px;
	float:left;
	margin-right:20px;
	border:2px solid #999; 
}
.organisators h3{
	font-size:14px;
	text-align:left;
	color:#D46767;
}
.table{
	width:470px;
	margin:0 auto;
}
.text-show{
    display:none;
}
.video{
	width:320px;
	margin:0 auto;
	padding:15px;
}
.zhuri{
	width:90%;
	margin:10px 5px 0 0;
	height:90px;
}
.zhuri img{
	width:65px;
	height:86px;
	float:left;
	margin-right:20px;
	border:2px solid #999; 
}
.zhuri h3{
	font-size:14px;
	text-align:left;
	color:#D46767;
}
