{% extends "base.html" %}


  

    {% block content %}
        <h1>{{page.title}}</h1>
        {% autoescape off %}
            <p>{{page.content}}</p>
        {% endautoescape %}
        
        {% load thumbnail %}
        
        {% if images %}
        <div class="images-set">
        {% endif %}
        
        {% for img in images %}
            <div class="pic_wrap">
                <a rel="gallery" href="/{{ img.image }}" >
                    {% thumbnail img.image "100x150" crop="center" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                </a>
                <p>{{ img.title }}</p>
            </div>
        {% endfor %}
        
        {% if images %}
        </div>
        {% endif %}
        
        
        {% if persons %}
        <div class="images-holder">
        {% endif %}
        {% for person in persons %}
            <div class="zhuri">
                {% thumbnail person.image "69x90" crop="center" as im %}
                    <a rel="gallery" href="/{{ person.image }}" >   
                        <img src="{{ im.url }}" alt="{{person.fio}}"/>
                    </a>
                {% endthumbnail %}
                {% autoescape off %}
                    <h3>{{person.fio}}</h3>
                    <p>{{person.desc}}</p>
                {% endautoescape %}
            </div>
        {% endfor %}
        {% if persons %}
        </div>
        {% endif %}
        
    {% endblock %}

    {% block sidebar %}
        {{sidebar.content}}
    {% endblock %} 



    {% block footer %}
        {% autoescape off %}
            {{ footer.content }}
                
        {% endautoescape %}
    {% endblock %}
