<div class="block_prizer">

    {% if prizer.place %}
        <h4>Место {{ prizer.place }}</h4>
    {% endif %}

    {% if prizer.collection.title %}
    <p><a href="{% url 'collection_detail' pk=prizer.collection.id %}">
        {{ prizer.collection.title }}
        </a>
    </p>
    {% endif %}

    {% if prizer.fio %}
        <p>
            <a href="{% url 'winner_detail' pk=prizer.id %}">{{ prizer.fio }}</a>
        </p>
    {% endif %}

    {% load attachments_tags %}
    {% load thumbnail %}

    <!-- Если переменная определена, значит перед нами коллекция,
    если нет - победитель, у которого нет свойства collection -->
    {% if prizer.collection %}
        {% get_attachments_for prizer.collection as "attachments_list" %}
    {% else %}
        {% get_attachments_for prizer as "attachments_list" %}
    {% endif %}

    {% with attachments_list.0 as attachment %}

        <a href="{{ attachment.attachment_file.url }}" rel="gallery" alt="{{ attachment.filename }}">
        {% thumbnail attachment.attachment_file "100x150" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
        {% endthumbnail %}
        </a>
        
    {% endwith %}

</div>