{% extends "base.html" %}

{% load collection_extras %}

{% block content %}

	<h2>{{ collection.title }}</h2>
	
	{% load attachments_tags %}
	{% load thumbnail %}

	{% get_attachments_for collection as "attachments_list" %}

	{% for attachment in attachments_list %}
		<a href="{{ attachment.attachment_file.url }}" rel="gallery" alt="{{ attachment.filename }}">
		{% thumbnail attachment.attachment_file "100x150" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
        {% endthumbnail %}
    	</a>
		

	{% endfor %}

	<h4>Авторы:</h4>
	<ul>
	{% for author in collection.author.all %}
		<li><a href="{% url 'author_detail' author.id %}">{{author.fio}}</a> 
			(вуз: {{ author.vuz.name_short }})</li>
	{% empty %}
		<li>Автор не определен</li>
	{% endfor %}
	</ul>

	<h4>Об авторах:</h4>
	{{collection|get_about}}

    <h4>Описание:</h4>
    <p>{{ collection.description }}</p>

{% endblock %}