{% extends "base.html" %}

{% block content %}

    <h2>Список призеров</h2>

    {% for item in prizer_year_list %}
        <h2>Год {{ item.year }}</h2>
        {% for prizer in item.prizer_list|dictsort:'nomination.title' %}
            {% ifchanged %}
                <h3>Номинация {{ prizer.nomination.title }}</h3>
            {% endifchanged %}

            <h3>Место {{ prizer.place }}</h3>

            <h5>{{ prizer.collection.title }}</h5>

        {% empty %}
            <p>Для данного года призеров не найдено.</p>
        {% endfor %}

    {% endfor %}
    
{% endblock %}