{% extends "base.html" %}

{% block content %}

    {% load collection_extras %}


    <h2>Список призеров {{ year }}</h2>

    {% for prizer in prizer_year_list|dictsort:'nomination.title' %}

        {% ifchanged %}
            <div class="clear"></div>
            <h3>{{ prizer.nomination.title }}</h3>
        {% endifchanged %}

        {% show_prizer prizer %}

    {% endfor %}

    {% if winner_year_list %}
        <div class="clear"></div>

        {% for winner in winner_year_list %}
            <h3>{{ winner.nomination.title }}</h3>
            {% show_prizer winner %}
            <div class="clear"></div>
        {% endfor %}

    {% endif %}

    <div class="clear"></div>
    <h3>Призеры прошлых лет</h3>

    {% for year in years_list %}
        <p><a href="{% url 'prizers_by_year' year=year %} ">{{ year }}</a></p>
    {% empty %}
        <p>Призеров прошлых лет не найдено</p>
    {% endfor %}
    
{% endblock %}