{% extends "base.html" %}

{% block content %}
    <h2>Список вузов {{ year }}</h2>
    <ol>

    {% load collection_extras %}

    {% for item in vuz_list %}
        <li>
            {{ item.vuz.name }}
            (<a href="{% url "year_vuz_collections" vuz=item.vuz.vuz_url year=2013 %}">коллекций: {{ item.collection_amount }}</a>)
        </li>
    {% empty %}
        <li>Для данного года участников не найдено</li>
    {% endfor %}

    {% if year_list %}
        <h3>Вузы-участники прошлых лет</h3>

        <ul>
            {% for year in year_list %}
                <li><a href="{% url 'vuz_year_list' year=year %}">{{ year }}</a></li>
            {% endfor %}
        </ul>

    {% endif %}

    
    </ol>
{% endblock %}